*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

.post {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  margin: 15px; }
