*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
   box-sizing: border-box;
   background-color: $nasa-med-grey;
   font-family: $back-up-fonts;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}